{% extends 'base.html' %}
{% block content %}
<div class="container">
    &nbsp;
    &nbsp;
    <div>
        <h1 style="text-align: center">Update Notebook</h1>
    </div>
    &nbsp;
    <div>
        <form action="" method="POST">
            <div class="input-group mb-3 form-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                </div>
                <input class="form-control" type="text" name="name" id="name" value="{{notebook.name}}">
                &nbsp;
                &nbsp;
                <input type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock %}